---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/curated?page=1&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001f58038e707fe4cb5b9b095c995096d2e
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"626d55e2bcd18762a1b1f6242c2a7e60"
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19946'
      X-Ratelimit-Reset:
      - '1577819869'
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":2,"photos":[{"id":3171200,"width":4036,"height":2696,"url":"https://www.pexels.com/photo/family-having-meal-at-the-table-3171200/","photographer":"cottonbro","photographer_url":"https://www.pexels.com/@cottonbro","photographer_id":1437723,"src":{"original":"https://images.pexels.com/photos/3171200/pexels-photo-3171200.jpeg","large2x":"https://images.pexels.com/photos/3171200/pexels-photo-3171200.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","large":"https://images.pexels.com/photos/3171200/pexels-photo-3171200.jpeg?auto=compress&cs=tinysrgb&h=650&w=940","medium":"https://images.pexels.com/photos/3171200/pexels-photo-3171200.jpeg?auto=compress&cs=tinysrgb&h=350","small":"https://images.pexels.com/photos/3171200/pexels-photo-3171200.jpeg?auto=compress&cs=tinysrgb&h=130","portrait":"https://images.pexels.com/photos/3171200/pexels-photo-3171200.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800","landscape":"https://images.pexels.com/photos/3171200/pexels-photo-3171200.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200","tiny":"https://images.pexels.com/photos/3171200/pexels-photo-3171200.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"},"liked":false},{"id":3060351,"width":3220,"height":4827,"url":"https://www.pexels.com/photo/photo-of-woman-holding-tablet-3060351/","photographer":"Ree","photographer_url":"https://www.pexels.com/@ree-430381","photographer_id":430381,"src":{"original":"https://images.pexels.com/photos/3060351/pexels-photo-3060351.jpeg","large2x":"https://images.pexels.com/photos/3060351/pexels-photo-3060351.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","large":"https://images.pexels.com/photos/3060351/pexels-photo-3060351.jpeg?auto=compress&cs=tinysrgb&h=650&w=940","medium":"https://images.pexels.com/photos/3060351/pexels-photo-3060351.jpeg?auto=compress&cs=tinysrgb&h=350","small":"https://images.pexels.com/photos/3060351/pexels-photo-3060351.jpeg?auto=compress&cs=tinysrgb&h=130","portrait":"https://images.pexels.com/photos/3060351/pexels-photo-3060351.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800","landscape":"https://images.pexels.com/photos/3060351/pexels-photo-3060351.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200","tiny":"https://images.pexels.com/photos/3060351/pexels-photo-3060351.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"},"liked":false}],"next_page":"https://api.pexels.com/v1/curated/?page=2&per_page=2"}'
  recorded_at: Mon, 02 Dec 2019 17:52:17 GMT
recorded_with: VCR 5.0.0
