---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?page=1&per_page=2&query=people
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - qwerty123
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1187295222dfc99979c16b972115b1ff"
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19944'
      X-Ratelimit-Reset:
      - '1577819869'
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":10000,"page":1,"per_page":2,"photos":[{"id":853168,"width":3980,"height":2622,"url":"https://www.pexels.com/photo/people-silhouette-during-sunset-853168/","photographer":"Min
        An","photographer_url":"https://www.pexels.com/@minan1398","photographer_id":206851,"src":{"original":"https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg","large2x":"https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","large":"https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&h=650&w=940","medium":"https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&h=350","small":"https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&h=130","portrait":"https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800","landscape":"https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200","tiny":"https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"},"liked":false},{"id":220453,"width":3476,"height":5214,"url":"https://www.pexels.com/photo/adult-beard-boy-casual-220453/","photographer":"Pixabay","photographer_url":"https://www.pexels.com/@pixabay","photographer_id":2659,"src":{"original":"https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg","large2x":"https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","large":"https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&h=650&w=940","medium":"https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&h=350","small":"https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&h=130","portrait":"https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800","landscape":"https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200","tiny":"https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"},"liked":false}],"next_page":"https://api.pexels.com/v1/search/?page=2&per_page=2&query=people"}'
  recorded_at: Mon, 02 Dec 2019 17:52:17 GMT
recorded_with: VCR 5.0.0
