---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/videos/search?max_duration=&max_width=&min_duration=&min_width=&page=1&per_page=2&query=people
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - qwerty123
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0e3cbbf88fc75bc602ebecd8621e0017"
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19940'
      X-Ratelimit-Reset:
      - '1577819869'
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":2,"total_results":2086,"url":"https://www.pexels.com/search/videos/people/","videos":[{"id":1616168,"width":1920,"height":1080,"url":"https://www.pexels.com/video/person-spending-time-on-her-smartphone-1616168/","image":"https://images.pexels.com/videos/1616168/free-video-1616168.jpg?fit=crop&w=1200&h=630&auto=compress&cs=tinysrgb","full_res":null,"tags":[],"duration":7,"user":{"id":293608,"name":"Oleg
        Magni","url":"https://www.pexels.com/@oleg-magni"},"video_files":[{"id":65087,"quality":"hd","file_type":"video/mp4","width":1280,"height":720,"link":"https://player.vimeo.com/external/301650714.hd.mp4?s=b2b4a674382b2f523d1d567aead0f5ae349ec3bf&profile_id=174&oauth2_token_id=57447761"},{"id":65088,"quality":"hd","file_type":"video/mp4","width":1920,"height":1080,"link":"https://player.vimeo.com/external/301650714.hd.mp4?s=b2b4a674382b2f523d1d567aead0f5ae349ec3bf&profile_id=175&oauth2_token_id=57447761"},{"id":65089,"quality":"sd","file_type":"video/mp4","width":960,"height":540,"link":"https://player.vimeo.com/external/301650714.sd.mp4?s=ef2d17d8731cd494e04bfe3a24b90de097c77933&profile_id=165&oauth2_token_id=57447761"},{"id":65090,"quality":"sd","file_type":"video/mp4","width":640,"height":360,"link":"https://player.vimeo.com/external/301650714.sd.mp4?s=ef2d17d8731cd494e04bfe3a24b90de097c77933&profile_id=164&oauth2_token_id=57447761"},{"id":65091,"quality":"hls","file_type":"video/mp4","width":null,"height":null,"link":"https://player.vimeo.com/external/301650714.m3u8?s=dea15d1df9ff95e8c01456404c6a079f233b20d5&oauth2_token_id=57447761"}],"video_pictures":[{"id":152962,"picture":"https://static-videos.pexels.com/videos/1616168/pictures/preview-0.jpg","nr":0},{"id":152963,"picture":"https://static-videos.pexels.com/videos/1616168/pictures/preview-1.jpg","nr":1},{"id":152964,"picture":"https://static-videos.pexels.com/videos/1616168/pictures/preview-2.jpg","nr":2},{"id":152965,"picture":"https://static-videos.pexels.com/videos/1616168/pictures/preview-3.jpg","nr":3},{"id":152966,"picture":"https://static-videos.pexels.com/videos/1616168/pictures/preview-4.jpg","nr":4},{"id":152967,"picture":"https://static-videos.pexels.com/videos/1616168/pictures/[...]
